{% extends 'base.html.twig' %}

{% block title %}Mon fil d'actualité{% endblock %}

{% block monTitre %}Votre fil d'actualité{% endblock %}

{% block body %}
    <a href="{{path('bienvenue')}}" class="btn btn-primary">Retour</a>
{% endblock %}
